<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SIGEA.Classes.Properties.Settings.SIGEAConnectionString"
            connectionString="Data Source=HINATA;Initial Catalog=SIGEA;Persist Security Info=True;User ID=SistemaSIGEA;Password=VGPO14006"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>